/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
}
span.author {
  background: white;
  color: #e74c3c;
  font-weight: 900;
  border-radius: 10px;
  padding: 2px 6px;
}
input:focus {
    border: 2px solid #e74c3c;
}

input:focus, button:focus {
    outline: 0;
}

div {
    padding: 0;
    margin: 0;
}

.chat-app {
    height: 100%;
}

.messages-container {
    background: #3498db;
    float: left;
    position: relative;
    height: 100%;
    width: 75%;
}

.users-container {
  color: white;
    float: left;
    position: relative;
    width: 25%;
    height: 100%;
    background: #2980b9;
}

/* RESPONSIVE ARROWS */
[class^=arr-]{
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  font-size: 1.2rem;
}
/* Additional formatting for arrow icon */
.arr-left  {transform:rotate(135deg);  -webkit-transform:rotate(135deg);}

.close-menu {
    margin: 5px 0px 20px 0px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width : 480px) {
    .users-container {
        width: 6%;
    }
    .messages-container {
        width: 94%;
    } 

    .messages-container.show-users { 
        width: 70%;
    }
    .users-container.show-users { 
        width: 30%;
    }
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.input {
    margin: 2px;
    padding: 10px;
    color: #555;
}

.user-list {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;

}
.user-list li {
  margin-bottom: 7px;
}

.btn {
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: #FFF;
    padding: 10px 15px;
    box-shadow: 0 4px #c0392b;
}



.btn:active {
    background-color: #c0392b;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.form {
    margin: 5px;
}

.form .input-wrapper {
    display: block;
    overflow: hidden;
    padding-right: 5px;
}

.form input {
    width: 100%;
}

.form button {
    margin: 3px;
    float: right;
    width: 60px;
}

.message-list {
    list-style-type: none;
}

.message-list li {
    padding: 5px 10px;
}

.message-list li:nth-child(even) {
    background: #2980b9;
}

h2 {
  margin: 10px 15px;
  color: white;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}


.modal-header h3 {
  margin-top: 0;
  color: #e74c3c;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width : 480px) {
    .modal-container {
        width: 90%;
    }
    .modal-container input {
        width: 100%;
    }
}
